:root {
  --headers-font: "Baloo Bhaina 2";
  --anchor-font: "Fira Sans";
  --divider-font: "Lobster";
  --paragraph: "Poppins";
  --orange: #f7a400;
  --light-blue: #3a9efd;
  --blue: #525ded;
  --dark-blue: #292a73;
  --navy-blue: #1a1b4b;
}

html,
body {
  margin: 0;
  width: auto !important;
  overflow-x: hidden !important;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Baloo Bhaina 2";
}

h1,
h2 {
  text-align: center;
}

h4,
p {
  display: inline;
  margin: 0;
}

/* Navbar Section */
#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--orange);
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
}

#header-img {
  width: 11vh;
  height: 11vh;
}

#list-container {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
}

#list-container ul {
  width: 100%;
  list-style: none;
  margin: auto;
  padding: 0;
}

#list-container ul li {
  display: inline;
  margin: auto 12px;
}

a:active {
  color: white;
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  text-emphasis: none;
  color: white;
}

/* Content Section */
#content {
  margin-top: 90px;
}

/* About Section */

#about {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about h1 {
  padding-top: 10px;
  margin: 0 15px;
}

#about-us {
  margin: 0;
  padding: 18px;
}

#video-container {
  margin: 10px auto;
  width: 350px;
}

iframe {
  width: 100%;
}

li {
  font-family: var(--paragraph);
}

/* Models Section */
#models {
  background-color: #094a67ab;
}

#model-options {
  color: var(--dark-blue);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
  align-content: center;
}

.models {
  margin: 10px 0;
  width: 75%;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.34);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.34);
}

#model-options ul {
  padding: 0;
  list-style: none;
}

#description,
#model-options {
  display: flex;
  flex-direction: column;
}

.description-section {
  margin: 10px;
  display: grid;
  grid-template-columns: 50px auto;
}

.description-section i {
  text-align: center;

  align-self: center;
  font-size: 30px;
}

.description-paragraph {
  font-family: var(--paragraph);
}

#description {
  color: var(--blue);
}

/* Contact Section */
input {
  grid-column-start: 2;
  width: 55%;
}

label {
  font-family: var(--headers-font);
}

#submit-container {
  margin: 10px;
  text-align: center;
}

#divider {
  display: none;
  margin: 10px;
  text-align: center;
  font-family: var();
}

#divider span {
  color: var(--navy-blue);
  font-family: var(--headers-font);
}

#social-icons {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

#social-icons li {
  font-size: 50px;
  margin: 0 20px;
}

#submit-input {
  width: 100px;
}

.inputFields {
  display: grid;
  margin: 10px 0;
  grid-template-columns: 1fr 2fr;
}

label {
  justify-self: end;
  margin-right: 10px;
  grid-column-start: 1;
}

textarea {
  width: 70%;
}

h2,
label {
  color: var(--navy-blue);
}

/* Footer Section */
#footer {
  height: 50px;
  background-color: #56c5f8;
}

#github-link-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: auto;
  height: 100%;
}

#github-link-container span {
  justify-self: center;
  align-self: center;
  font-family: var(--headers-font);
}

#github-link {
  margin-left: 15px;
  align-self: center;
}

#github-link i {
  font-size: 30px;
}

a i {
  color: var(--orange);
}

a i:hover {
  color: var(--blue);
}

@media only screen and (min-width: 500px) {
  html {
    min-width: 540px;
  }

  body {
    padding-top: 84px;
    min-width: 400px;
  }

  i {
    font-size: 35px;
    float: right;
    align-self: center;
  }

  img {
    float: left;
  }

  li i {
    font-size: 60px;
  }

  h4 {
    margin-left: 10px;
    text-align: left;
    font-family: "Baloo Bhaina 2", cursive;
  }

  p {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

  h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  /* Navbar Section */

  #header-img {
    width: 20vh;
    height: 14vh;
    margin-left: 30px;
  }

  #nav-bar {
    top: 0;
    height: 85px;
    width: 100%;
    position: fixed;
    z-index: 1;
    -webkit-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
    display: block;
  }

  #nav-bar ul {
    margin: 40px 0;
    margin-right: 20px;
  }

  #list-container {
    float: right;
    margin-right: 4%;
  }

  /* Content */

  #content {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
  }

  /* About Section */
  #about {
    width: 100%;

    margin: 0;
  }

  #about h1 {
    text-align: center;
    margin: 0;
    padding-top: 24px;
  }

  #about-us {
    margin: 0 150px;
    padding-top: 5px;
  }

  iframe {
    display: block;
    margin: auto 10px;
  }

  #video-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  /* Description Section */
  .description {
    display: inline-block;
    display: table-cell;
  }

  .description-section i {
    justify-self: center;
  }

  #description {
    margin: 30px auto;
    display: grid;
  }

  .description-section {
    display: grid;
    grid-template-columns: 50px auto;

    align-content: center;
    grid-template-rows: 1fr;
  }

  .description-section div {
    align-self: center;
  }

  /* Models Section */

  #model-options {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    flex-flow: wrap;
  }

  .models ul {
    padding: 0;
    text-align: center;
    width: 180px;
    margin: 0 auto;
  }

  li {
    padding: 0 17px;
    display: inline-block;
  }

  a {
    text-decoration: none;
    text-emphasis: none;
    color: white;
    font-size: 3vh;
  }

  a:visited {
    color: none;
  }

  .models {
    text-align: center;
    display: inline-block;
    width: 250px;
    margin: 14px 10px;
  }

  .models li {
    font-family: "Poppins", sans-serif;
  }

  .models ul {
    margin-bottom: 10px;
  }

  /* Contact Section */
  form {
    padding-left: 10%;
  }

  label {
    font-family: "Poppins", sans-serif;
  }

  #contact li {
    padding: 0 17px;
    display: inline-block;
  }

  input {
    height: 20px;
    border-radius: 2px;
    border: 1px solid #8a83838a;
  }

  input[type="submit"] {
    background-color: transparent;
    color: #2c5b7f;
    border: none;
  }

  #divider {
    display: block;
    margin: auto 0;
    text-align: center;
  }

  #divider span {
    font-size: 25px;
  }
  .icons {
    height: 64px;
    display: inline-block;
    display: table-cell;
  }

  #social-media {
    display: inline-block;
  }

  .inputFields {
    align-items: center;
  }

  #social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: initial;
    float: right;
  }

  #contact {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 10px 0;
  }

  #social-icons {
    padding: 0;
  }

  textarea {
    height: 70px;
    width: 75%;
    border-radius: 2px;
    border: 1px solid #8a83838a;
  }

  /* Footer Section */
  #footer {
    height: 65px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  }

  #footer span {
    display: inline-block;
    margin-right: 10px;
  }

  #footer div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
