:root {
  headers-font: "Baloo Bhaina";
  anchor-font: "Fira Sans";
  divider-font: "Lobster";
  paragraph: "Poppins";
}

#models {
  background-color: #094a67ab;
}

#social-icons {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

#social-icons li {
  font-size: 50px;
  margin: 0 20px;
}

html,
body {
  margin: 0;
  width: auto !important;
  overflow-x: hidden !important;
}

#about {
  background-color: #8bc34a5c;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Baloo Bhaina 2";
}

#footer {
  background-color: #56c5f8;
}

#header-img {
  width: 11vh;
  height: 11vh;
}

#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #2d3fff;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
}

#list-container {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
}
#list-container ul {
  width: 100%;
  list-style: none;
  margin: auto;
  padding: 0;
}

#list-container ul li {
  display: inline;
  margin: auto 12px;
}

a {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  text-emphasis: none;
  color: white;
}

#submit {
  margin: 10px;
  text-align: center;
}

a:active {
  color: white;
}

#about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about h1 {
  margin: 0;
}

#about-us {
  margin: 0;
  padding: 18px;
}

h1 {
  text-align: center;
}

#video {
  margin: 10px auto;
  width: 350px;
}
iframe {
  width: 100%;
}

#description,
#options {
  display: flex;
  flex-direction: column;
}

i,
h4,
p {
  display: inline;
}

.description-section {
  margin: 10px;
}

#submit-input {
  width: 100px;
}

#divider {
  margin: 10px;
  text-align: center;
}

#options {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 20px;
  align-content: center;
}

.models {
  margin: 10px 0;
  width: 75%;
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.34);
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.34);
}

#options ul {
  padding: 0;
  list-style: none;
}

#left {
  text-align: center;
}

h2 {
  text-align: center;
}

.inputFields {
  display: grid;
  margin: 10px 0;
  grid-template-columns: 1fr 2fr;
}

label {
  justify-self: end;
  margin-right: 10px;
  grid-column-start: 1;
}

input {
  grid-column-start: 2;
  width: 55%;
}

textarea {
  width: 70%;
}

@media only screen and (min-width: 500px) {
  html,
  body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    overflow-x: initial;
  }
  html {
    min-width: 540px;
  }
  body {
    padding-top: 100px;
  }

  .models ul {
    padding: 0;
    text-align: center;
    width: 180px;
    margin: 0 auto;
  }
  /* navbar styling */
  li {
    padding: 0 17px;
    display: inline-block;
  }

  a {
    text-decoration: none;
    text-emphasis: none;
    color: white;
    font-size: 3vh;
  }

  a:visited {
    color: none;
  }

  #header-img {
    width: 20vh;
    height: 14vh;
    margin-left: 30px;
  }

  #nav-bar {
    top: 0;
    height: fit-content;
    background-color: #2d3fff;
    width: 100%;
    position: fixed;
    z-index: 1;
    -webkit-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 7px 8px 2px rgba(0, 0, 0, 0.5);
    display: block;
  }

  /*About section  */

  #about {
    width: 100%;
    background-color: #8bc34a5c;
    margin: 0;
  }

  #about h1 {
    text-align: center;
    margin: 0;
    padding-top: 24px;
  }

  #about-us {
    margin: 0 150px;
    padding-top: 5px;
  }
  #projects {
    height: 28.66%;
    width: 100%;
  }

  #options {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    flex-flow: wrap;
  }

  #footer {
    width: 100%;

    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  }

  #list-container {
    float: right;
    margin-right: 4%;
  }

  h4 {
    margin-left: 10px;
    text-align: left;
    font-family: "Baloo Bhaina 2", cursive;
  }

  p {
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

  body {
    min-width: 400px;
  }

  .models {
    text-align: center;
    display: inline-block;
    width: 250px;
    margin: 14px 10px;
  }

  #contact li {
    padding: 0 17px;
    display: inline-block;
  }

  #nav-bar ul {
    margin: 40px 0;
    margin-right: 20px;
  }

  input {
    height: 20px;
    border-radius: 2px;
    border: 1px solid #8a83838a;
  }

  input[type="submit"] {
    background-color: transparent;
    color: #2c5b7f;
    border: none;
  }

  i {
    font-size: 35px;
    float: right;
    align-self: center;
  }

  .icons {
    height: 64px;
    display: inline-block;
    display: table-cell;
  }

  .description {
    display: inline-block;
    display: table-cell;
  }

  .description-section i {
    justify-self: center;
  }

  #description {
    position: relative;
    width: fit-content;
    margin: 30px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(3, auto);
  }

  .description-section {
    display: grid;
    grid-template-columns: 50px auto;

    align-content: center;
    grid-template-rows: 1fr;
  }

  #divider {
    margin: auto 0;
    text-align: center;
  }

  .left-side {
    width: 50%;
    padding: 10px;
  }

  .right-side {
    display: inline;
  }

  #social-media,
  #left {
    display: inline-block;
  }

  #left {
    grid-column: 1;
    margin: auto;
  }

  #name,
  #email,
  #number {
    align-items: center;
  }

  #social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    height: initial;
    float: right;
  }

  #contact {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 10px 0;
  }

  h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  #social-icons {
    padding: 0;
  }

  h2 {
    text-align: center;
  }

  textarea {
    height: 70px;
    width: 75%;
    border-radius: 2px;
    border: 1px solid #8a83838a;
  }

  form {
    padding-left: 10%;
  }
  img {
    float: left;
  }

  #divider span {
    font-size: 25px;
    font-family: "Lobster", cursive;
  }

  label {
    font-family: "Poppins", sans-serif;
  }

  #container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
  }
  iframe {
    display: block;
    margin: auto 10px;
  }

  #video {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  #right {
    text-align: center;
  }

  #right i {
    font-size: 60px;
  }

  #footer span {
    display: inline-block;
    margin-right: 10px;
  }

  #footer div {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #restaurantTitle p {
    font-size: 18px;
    margin: 10px 5px;
  }

  .models li {
    font-family: "Poppins", sans-serif;
  }

  .models ul {
    margin-bottom: 10px;
  }
}
